@import '../../styles/global-variables';

.#{$css-namespace} .ted-servicios {
    h4 {
        font-size: 17.5px;
    }

    .service-card {
        i {
            font-size: 48px;
        }
    }

    .presupuesto {
        text-align: center;

        .btn {
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            border: 0;
            background-image: none;
            text-shadow: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            padding: 11px 19px;
            font-size: 17.5px;
            color: #ffffff;
            background-color: #2dcc70;
            line-height: 20px;
        }
    }
}
