@import '../../styles/global-variables';

.#{$css-namespace} .ted-quienessomos {
    .progress {
        height: 30px;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        margin-bottom: 10px;

        .progress-bar {
            text-align: left;
            padding-left: 10px;
        }

        &.capacity {
            .progress-bar {
                background-color: #0e90d2;
            }
        }
        &.honesty {
            .progress-bar {
                background-color: #faa732;
            }
        }
        &.dedication {
            .progress-bar {
                background-color: #4bb1cf;
            }
        }
        &.improvement {
            .progress-bar {
                background-color: #dd514c;
            }
        }
    }
}