@import 'global-variables';

@import 'fonts/fonts';

html,
body {
    color: $text-color;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;

    section.main-section {
        padding: 50px 0;
    }

    h1, body h2, body h3, body h4, body .created {
        font-family: "Fjalla One", serif;
        font-weight: normal;
    }

    h1, h2, h3, h4, h5, h6 {
        line-height: 40px;
        margin: 10px 0;
    }

    h3 {
        font-size: 24.5px;
    }

    .ui.header {
        color: $text-color;
    }
}

.#{$css-namespace} {
    @import 'spacing';
}
