@import 'mixins';

$css-namespace: ted;

$primary: #2dcc70;

$text-color: #000000;
$nav-color: #333333;
$bg-section: #212b37;

$section-border-radius: 8px;

$menu-height: 5em;
$link-color: $text-color;
$link-color-active: #ffffff;
$link-border-color: #FD2524;
