@import 'global-variables';

@import 'fonts/fonts';

body {
    color: $text-color;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    background: #f5f5f5;
    margin-top: 80px;
    line-height: 20px;

    section.main-section {
        padding: 50px 0;
    }

    h1, h2, h3, h4, .created {
        font-family: "Fjalla One", serif;
        font-weight: normal;
    }

    h1, h2, h3, h4, h5, h6 {
        margin: 10px 0;
    }

    h1, h2, h3 {
        line-height: 40px;
    }

    h3 {
        font-size: 24.5px;
    }

    .ui.header {
        color: $text-color;
    }

    .accordion {
        margin-bottom: 2px;
        .accordion-header {
            margin: 0;
            line-height: 1.2;
        }
    }

    .accordion-button {
        color: #666;
        font-weight: 700;
        padding: 8px 15px;
        font-size: 12px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }

    hr {
        margin: 20px 0;
        border: 0;
        color: #ffffff;
    }
}

.#{$css-namespace} {
    @import 'spacing';

    .ted-spinner-common {
        min-height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media (max-width: 600px) {
        .ted-spinner-common {
            min-height: 50vh;
        }
    }
}
