.np {
    padding: 0 !important;
}
.nph {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.npv {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.npt {
    padding-top: 0 !important;
}
.npb {
    padding-bottom: 0 !important;
}
.npl {
    padding-left: 0 !important;
}
.npr {
    padding-right: 0 !important;
}
.nm {
    margin: 0 !important;
}
.nmh {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.nmv {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.nmt {
    margin-top: 0 !important;
}
.nmb {
    margin-bottom: 0 !important;
}
.nml {
    margin-left: 0 !important;
}
.nmr {
    margin-right: 0 !important;
}
