footer {
    background: #333;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #666;

    .cp {
        margin-top: 11px;
    }

    a {
        color: #666;
        -webkit-transition: 300ms;
        -moz-transition: 300ms;
        -o-transition: 300ms;
        transition: 300ms;
        text-decoration: none;

        &:hover {
            color: #2dcc70;
        }
    }

    .with-icons {
        i {
            margin-right: 3px;
        }
    }

    .social {
        list-style: none;
        margin: 6px 0 0;
        padding: 0;
        display: inline-block;
        float: right;

        & > li {
            display: inline-block;
            margin: 0 5px;
            line-height: 20px;

            & > a {
                font-size: 24px;
            }
        }
    }
}