@import '../../styles/global-variables';

.#{$css-namespace} {
    .ted-my-carousel {
        .carousel-first-slide {
            background-color: #04a7a4;
        }
        .carousel-second-slide {
            background-color: #666761;
        }
        .carousel-third-slide {
            background-color: #a24e29;
        }
    }
}
