@import '../../styles/global-variables';

.#{$css-namespace} .ted-home {
    margin-top: 80px;
    .ted-my-carousel {
        .carousel-caption {
            position: absolute;
            right: 0;
            top: 15%;
            left: 12%;
            width: 50%;
            color: #fff;
            text-align: left;
            h2 {
                color: #fff;
                padding: 50px 0 0;
                margin: 0;
                position: relative;
                font-size: 60px;
                line-height: normal;
                z-index: 100;
            }
            h3 {
                margin-top: 0;
                position: relative;
                line-height: normal;
                z-index: 100;
                margin-bottom: 50px;
            }
            a {
                border: 3px solid #fff;
                background: transparent;
                color: #fff;
                padding: 11px 19px;
                line-height: 20px;
                font-size: 17.5px;
                border-radius: 0;
            }

            @media (max-width: 1024px) {
                display: block !important;
                top: 10%;
                h2 {
                    font-size: 30px;
                    padding: 0;
                }
                h3 {
                    font-size: 20px;
                    margin-bottom: 20px;
                }
            }
        }
        .carousel-first-slide {
            background-color: #04a7a4;
        }
        .carousel-second-slide {
            background-color: #666761;
        }
        .carousel-third-slide {
            background-color: #a24e29;
        }
    }

    .ted-info-button {
        .btn {
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            border: 0;
            background-image: none;
            text-shadow: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            padding: 11px 19px;
            font-size: 17.5px;
            color: #ffffff;
            background-color: #5bb75b;
            line-height: 20px;
            float: right;
        }
    }

    #services {
        background: #252525;
        color: #999;
        cursor: pointer;

        h1,h2,h3,h4,h5,h6 {
            color: #fff;
        }

        .media {
            margin-top: 50px;

            .media-body, h4 {
                transition: 300ms ease all;
            }

            &:hover {
                .media-body, h4 {
                    color: #2dcc70;
                }
            }
        }

        .pull-left {
            margin-right: 10px;
            float: left;
        }
    }

    #recent-works {
        background: #2dcc70;
        color: #fff;

        .lead {
            margin-bottom: 20px;
            font-size: 21px;
            font-weight: 200;
            line-height: 30px;
        }
    }

    #autores {
        background: #f5f5f5;
        .text-center {
            h3 {
                color: #34495e;
            }
        }
        .media {
            margin-top: 50px;
        }
        .media-heading {
            margin: 0 0 5px;
            color: #34495e;
        }
        .media-body {
            p {
                position: relative;
                padding: 0 45px;
                text-align: justify;
                font-size: 12px;
                color: #34495e;

                .opening-quote {
                    position: absolute;
                    top: -10px;
                    left: 0;
                }
                .closing-quote {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
            }
        }
    }

    #clients {
        h4 {
            color: #999;
        }
        p {
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 12px;
            color: #34495e;
            line-height: 20px;
        }
    }
}
