@import '../../styles/global-variables';

.#{$css-namespace} .ted-home {
    .ted-my-carousel {
        .carousel-first-slide {
            background-color: #04a7a4;
        }
        .carousel-second-slide {
            background-color: #666761;
        }
        .carousel-third-slide {
            background-color: #a24e29;
        }
    }

    .ted-info-button {
        .btn {
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            border: 0;
            background-image: none;
            text-shadow: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            padding: 11px 19px;
            font-size: 17.5px;
            color: #ffffff;
            background-color: #5bb75b;
            line-height: 20px;
            float: right;
        }
    }

    #services {
        background: #252525;
        color: #999;
        cursor: pointer;

        h1,h2,h3,h4,h5,h6 {
            color: #fff;
        }

        .media {
            margin-top: 50px;

            .media-body, h4 {
                transition: 300ms ease all;
            }

            &:hover {
                .media-body, h4 {
                    color: #2dcc70;
                }
            }
        }

        .pull-left {
            margin-right: 10px;
            float: left;
        }
    }

    #recent-works {
        background: #2dcc70;
        color: #fff;

        .lead {
            margin-bottom: 20px;
            font-size: 21px;
            font-weight: 200;
            line-height: 30px;
        }
    }
}
