@import '../../styles/global-variables';

.#{$css-namespace} .dashboard {
    border-top: 1px solid #dddddd;
    .dashboard-menu {
        display: flow;
        height: calc(100vh - 85px);
        background-color: #eeeeee;
        border-right: 1px solid #dddddd;
        padding-top: 10px;
        text-align: center;

        .accordion {
            margin-bottom: 20px;
        }

        .btn {
            min-width: 80%;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .dashboard-content-wrapper {
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .success-message {
        line-height: 1;
        color: lightseagreen;
        font-size: 40px;
        margin-top: 30px;
        transition: all ease 300ms;
        opacity: 0;

        &.show-message {
            opacity: 1;
        }
    }
    .admin-item {
        font-size: 14px;
        border-bottom: 1px solid #cccccc;
        padding: 10px;

        .name {
            margin-right: 10px;
        }

        .btn {
            margin-right: 10px;
        }
    }

    .my-form-group {
        display: inline-block;
        vertical-align: top;
        margin-right: 10px;
    }

    .author-image {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;

        .image-container {
            display: flex;
            width: 100px !important;
            height: 100px !important;
            border-radius: 50%;
            text-align: center;
            overflow: hidden;
            justify-content: center;
            align-content: center;
            border: 4px solid #2F7B8B;
        }
    }

    .book-image {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
    }


    // EDIT CATEGORY
    .edit-category-form {
        display: inline-block;

        input {
            display: inline-block;
            width: auto;
            padding: .25rem .5rem;
            font-size: .875rem;
            border-radius: .2rem;
            vertical-align: middle;
            margin-right: 10px;
        }
    }
}

.modal {
    .author-image-wrapper {
        margin-top: 10px;
    }
}