@import '../../styles/global-variables';

.#{$css-namespace} .ted-book-details {
    padding-top: 15px;
    padding-bottom: 15px;

    .book-cover {
        margin-bottom: 15px;
        img {
            width: 100%;
            max-width: 250px;
        }
    }

    .book-cover-placeholder {
        width: 100%;
        min-height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: italic;
        padding: 20px;
        text-align: center;
        background-color: #eeeeee;
        @include border-radius(5px);
    }

    h5 {
        span {
            color: #0e90d2;
        }
    }

    .img-placeholder {
        width: 100%;
        min-height: 300px;
    }

    .book-pages {
        font-size: 15px;
        i {
            margin-right: 10px;
        }
    }

    .book-description {
        font-size: 14px;
    }

    .book-category {
        font-size: 14px;
        .btn {
            margin-right: 4px;
        }
    }

    .book-data {
        margin-top: 50px;
    }

    .author {
        margin-bottom: 25px;
        .author-image {
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;

            .image-container {
                display: flex;
                width: 100px !important;
                height: 100px !important;
                border-radius: 50%;
                text-align: center;
                overflow: hidden;
                justify-content: center;
                align-content: center;
                border: 4px solid #2F7B8B;
            }
        }

        .author-name {
            color: #0e90d2;
            font-size: 1.25rem;
        }

        .author-bio {
            margin-top: 10px;
        }
    }

    @media (max-width: 768px) {
        .book-cover {
            text-align: center;
        }
    }
}