@import '../../styles/global-variables';

.#{$css-namespace} .ted-libreria {
    .ted-book {
        background-color: #eeeeee;
        padding: 15px;
        margin: 15px 0;
        @include border-radius(.25rem);
        @include box-shadow(0px, 0px, 5px, 0px, rgba(0,0,0,0.2));
        transition: all ease 300ms;

        .book-cover-placeholder {
            width: 100%;
            min-height: 300px;
            background-color: #CCCCCC;
            @include border-radius(.25rem);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &.fadein {
            transform: scale(1.1);
            opacity: 0;
        }

        .ted-book-cover {
            text-align: center;

            .img-placeholder {
                width: 100%;
                min-height: 300px;
            }

            img {
                max-height: 300px;
                max-width: 100%;
            }
        }

        h3 {
            margin-bottom: 0;
        }

        &:hover {
            transform: scale(1.05);
            @include box-shadow(0px, 0px, 15px, 0px, rgba(0,0,0,0.2));
            cursor: pointer;
        }
    }
}
